<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<h3><%= @task.name %></h3>
<ul>
  <li><%= @task.description%></li>
  <li><%= @task.state%></li>
  <li><%= @task.due_date%></li>
</ul>
